/* ==========================
   PALETA DE CORES USADA
   Creme: #FFF7E9
   Bege pão: #E6C7A1
   Caramelo tostado (botões/destaques): #C56A33
   Marrom café (títulos): #5A3825
   Marrom suave (texto): #3A2B20
   Hover escuro: #8B4A2C
=========================== */

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* BODY */
body {
  background-color: #FFF7E9;
  color: #3A2B20;
  line-height: 1.6;
}

/* HEADER */
header {
  background-color: #E6C7A1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

header h2 {
  color: #5A3825;
  font-size: 28px;
}

header ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

header a {
  text-decoration: none;
  color: #0b0404;
  font-weight: bold;
  transition: 0.3s;
}

header a:hover {
  color: #ffffff;
}

/* HERO */
.hero {
  background-image: url("img/padaria-bg.jpg"); /* opcional */
  background-size: cover;
  padding: 120px 40px;
  text-align: center;
}

.hero-text h2 {
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 10px;
}

.hero-text p {
  color: #f6f6f6;
  font-size: 20px;
}

/* PRODUTOS */
.produtos {
  padding: 60px 40px;
  text-align: center;
}

.produtos h2 {
  color: #5A3825;
  font-size: 32px;
  margin-bottom: 40px;
}

.produtos-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.produto {
  background: #E6C7A1;
  padding: 20px;
  border-radius: 12px;
  width: 230px;
  transition: 0.3s;
}

.produto:hover {
  transform: scale(1.05);
  background-color: #C56A33;
  color: white;
}

.produto img {
  width: 100%;
  border-radius: 10px;
}

/* SOBRE */
.sobre {
  padding: 60px 40px;
  background-color: #FFF1DB;
}

.sobre h2 {
  color: #5A3825;
  font-size: 32px;
  margin-bottom: 20px;
}

/* CONTATO */
.contato {
  padding: 60px 40px;
}

.contato h2 {
  color: #5A3825;
  font-size: 32px;
  margin-bottom: 20px;
}

form {
  max-width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input, textarea {
  padding: 10px;
  border: 2px solid #C56A33;
  border-radius: 8px;
  background-color: #FFF7E9;
}

button {
  background-color: #C56A33;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: #8B4A2C;
}

/* FOOTER */
footer {
  background-color: #E6C7A1;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  font-weight: bold;
}

footer button {
  margin-top: 10px;
}
